.dropdown {
  height: 100%;
  width: 100px;
}

.dropdown > select {
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: rgb(236, 236, 236);
}

.dropdown > select:hover {
  background-color: rgb(216, 216, 216);
}
