.diary-list-container {
  padding: 20px;
}

.diary-list-container > .menu {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
  height: 40px;
  margin-bottom: 20px;
}

.diary-list-container > .menu button {
  flex: 1;
  height: 100%;
}
