.editor-container {
  padding: 20px;
}

.editor-container > section {
  margin-bottom: 40px;
}

.editor-container > section > h4 {
  font-size: 16px;
}

.editor-container > .button-container {
  display: flex;
  justify-content: space-between;
}

.emotion-cards {
  display: flex;
  width: 100%;
  gap: 10px;
}

.emotion-cards > .emotion-card {
  flex: 1;
  aspect-ratio: 1;
}

.text-area-section > .text-area-container {
  width: 100%;
}

.text-area-section > .text-area-container > textarea {
  padding: 20px;
  width: 100%;
}
