.editor-container {
  padding: 20px;
}

.editor-container > section {
  margin-bottom: 60px;
}

.editor-container > section > h4 {
  font-size: 16px;
}

.editor-container > .button-container {
  display: flex;
  justify-content: space-between;
}

.emotion-cards {
  display: flex;
  width: 100%;
  gap: 10px;
}
